# Yelp Dataset Challenge Analysis

Yelp hosts an annual challenge for all sorts of computer scientists and provides a comprehensive set of data that includes business information, user information, reviews, tips, check-in information, and even a large photo library. 

Using the data provided I will analyze what attributes and features make a well-ranked restaurant and a well-ranked user as well as conducting sentiment analysis on the review text. 

If needed I will also utilize the Yelp API to apply my models to current data from whereever a user would like.

The potential stakeholders would be the businesses that can see what factors will affect their businesses reputation as well as the users who will be able to distinguish between credible reviews with good content or reviews that are not informative. Yelp may also be a potential stakeholder because the model could be used to sift through reviews to prioritize the better reviews on the page as opposed to the spam reviews.

### Primary Data Analysis

The datasets are provided as JSON files but if I try to use the 
* pd.read_json('/Users/lesliepham/Desktop/Capstone/Data/yelp_academic_dataset_user.json')

An error appears pertaining to 'trailing data'. The solution to this is to open the json, read it as one large string, map through it to remove the '/n' at the end of each line, and the join it between brackets and commas. Only then can the JSON file be read into pandas as a dataframe.

In [1]:
import pandas as pd

In [4]:
with open('/Users/lesliepham/Desktop/Capstone/Data/yelp_academic_dataset_user.json', 'rb') as f:
    data = f.readlines()
data = map(lambda x: x.rstrip(), data)
data_json_str = "[" + ','.join(data) + "]"
user_df = pd.read_json(data_json_str)

In [5]:
user_df.head()

,average_stars,compliments,elite,fans,friends,name,review_count,type,user_id,votes,yelping_since
0,4.14,"{u'profile': 8, u'cute': 15, u'funny': 11, u'p...","[2005, 2006]",70,"[rpOyqD_893cqmDAtJLbdog, 4U9kSBLuBDU391x6bxU-Y...",Russel,108,user,18kPq7GPye-YQ3LyKyAZPw,"{u'funny': 167, u'useful': 280, u'cool': 245}",2004-10
1,3.66,"{u'profile': 116, u'cute': 206, u'funny': 580,...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...",1179,"[18kPq7GPye-YQ3LyKyAZPw, 4U9kSBLuBDU391x6bxU-Y...",Jeremy,1274,user,rpOyqD_893cqmDAtJLbdog,"{u'funny': 7681, u'useful': 14199, u'cool': 11...",2004-10
2,3.60,"{u'profile': 9, u'cute': 23, u'funny': 120, u'...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201...",100,"[18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...",Michael,442,user,4U9kSBLuBDU391x6bxU-YA,"{u'funny': 908, u'useful': 1483, u'cool': 732}",2004-10
3,4.64,{u'cute': 2},[],2,"[18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...",Ken,11,user,fHtTaujcyKvXglE33Z5yIw,"{u'funny': 1, u'useful': 11, u'cool': 5}",2004-10
4,3.80,"{u'cute': 2, u'plain': 2, u'writer': 2, u'note...",[2005],4,"[rpOyqD_893cqmDAtJLbdog, HDQixQ-WZEV0LVPJlIGQe...",Katherine,66,user,SIBCL7HBkrP4llolm4SC2A,"{u'funny': 11, u'useful': 34, u'cool': 13}",2004-10